# Project: Analyzing movies in 2023 on The Movie Database (TMDb)

- Name: Lê Đức Cường
- Student code: 21120213
- Website I get data: https://www.themoviedb.org/

    **The Movie Database (TMDb)** is a collaborative film database. The project was founded in 2008 by Travis Bell to collect movie posters. The initial database was a donation from the free project Open Media Database (OMDb). This database has more 913000 movies (including the adults content). In this project, I analyze data about movies which are released in 2023.

## II.PREPROCESSING DATA

### 1. Import Packages

In [1]:
import pandas as pd
import numpy as np
import json
import re

### 2. Preprocess and explain data
    In this database, I need to do:
- Set a new index
- Drop unnecessary columns
- Check data type of each column
- Remove duplicated rows
- Fill null values (if nescessary)

**Fisrtly**, I read data

In [2]:
df = pd.read_csv("../data/raw_data/movies_data_raw.csv")
print("Rows:" , df.shape[0])
print("Columns:" , df.shape[1])

Rows: 1400
Columns: 10

This dataframe has 1395 rows and 10 columns.

### What is the meaning of each column and each row?

**The meaning of each column**:
- Title: The name of a movie. It is the name given to the production in its original language or in the language of release. This field is often used in search queries.
- Original title: The original title of a movie, it is the title given to the production in its original language. This field is  identifying the original version of a movie when it has been dubbed or subtitled in other languages.
- ID: The unique number assigned to each movie.
- Language: The language of production of a movie.
- Details: The brief summary of a movie.
- Genre IDs: genre(s) of a movie. It is represented by an array of integers, where each integer corresponds to a specific genre.
- Popularity: The metric that measures the relative popularity of a movie or TV show within the database. The popularity score is used to boost search results.
- Release date: The date of the oldest release data of the movie in the database
- Review score: Thea metric that measures the average rating of a movie within the database. It is calculated based on the ratings given by TMDb users, and ranges from 0 to 10.
- Number of reviews: The number of votes that a movie has received within the database.

**The meaning of each row**: Each row contains data of **one movie** which released in 2023 about the title, content, genre, language and their rating on TMDb.

### What data values are in each column?
**Firstly**, counting null values in each column.

In [3]:
df.isnull().sum()

Title                 0
Original title        0
ID                    0
Language              0
Details              24
Genre IDs             0
Popularity            0
Release date          0
Review score          0
Number of reviews     0
dtype: int64

Only 'Details' has 23 null values. I think it doesn't affect the later evaluation. So that, I do not fill null position.

**Secondly**, checking type of data in each column

In [4]:
df.dtypes

Title                 object
Original title        object
ID                     int64
Language              object
Details               object
Genre IDs             object
Popularity           float64
Release date          object
Review score         float64
Number of reviews      int64
dtype: object

I think all columns have correct data type. The Numeric columns do not have null values, that's great for exploring data step.

**Thirdly**, finding and removing duplicated values in 'ID'. If 'ID' coulumn has duplicated values, data was duplicated.

In [5]:
df.drop_duplicates(subset = 'ID')

,Title,Original title,ID,Language,Details,Genre IDs,Popularity,Release date,Review score,Number of reviews
0,The Family Plan,The Family Plan,1029575,en,"Dan Morgan is many things: a devoted husband, ...","[28, 35]",3443.376,2023-12-14,7.4,577
1,Rebel Moon - Part One: A Child of Fire,Rebel Moon - Part One: A Child of Fire,848326,en,When a peaceful colony on the edge of the gala...,[878],2288.636,2023-12-15,6.5,1026
2,The Hunger Games: The Ballad of Songbirds & Sn...,The Hunger Games: The Ballad of Songbirds & Sn...,695721,en,64 years before he becomes the tyrannical pres...,"[18, 878, 28]",2182.886,2023-11-15,7.2,1323
3,Silent Night,Silent Night,891699,en,A tormented father witnesses his young son die...,"[28, 80]",1441.196,2023-11-30,5.9,234
4,Aquaman and the Lost Kingdom,Aquaman and the Lost Kingdom,572802,en,"Black Manta, still driven by the need to aveng...","[28, 12, 14]",1283.474,2023-12-20,6.5,379
...,...,...,...,...,...,...,...,...,...,...
1395,Write Me A Letter When You Return Home,Write Me A Letter When You Return Home,1113693,en,75-year-old Enola Niaga finds comfort in writi...,[18],1.400,2023-05-12,6.3,16
1396,Gli attassati,Gli attassati,1168807,it,NaN,[35],0.622,2023-08-31,5.0,11
1397,Return,Regreso,1140754,es,Gerardo returns home with a pack of dogs barki...,[18],0.609,2023-07-30,4.9,13
1398,Hombres hay muchos,Hombres hay muchos,1168735,es,NaN,"[35, 10749]",0.600,2023-08-01,7.0,12
1399,What a Life!,Io vivo altrove!,1070244,it,"Biasutti and Perbellini have the same name, Fa...",[35],0.600,2023-01-19,5.7,10

So, all ID values in 'ID' is unique. Then I am review each columns.

- 'Title', 'Original title', 'ID', 'Details' have object type. I do not preprocess them.
- 'Popularity', 'Review score', 'Number of reviews' have numeric type. I do some basic statistics sush as: find minimun value, maximum value, average value
- 'Genre IDs', 'Language' have repserentative character. I will explain and replace them.
- Lastly, I check the corectiong of information in 'Release date'.

In [6]:
def lower_quartile(x):
    return x.quantile(0.25).round(1)

def median(x):
    return x.median()

def upper_quartile(x):
    return x.quantile(0.75).round(1)

nummeric_statics_df = pd.DataFrame(df, columns = ['Popularity', 'Review score', 'Number of reviews']) 
nummeric_statics_df = nummeric_statics_df.agg(["min", lower_quartile, median,upper_quartile, "max"])
nummeric_statics_df

                Popularity  Review score  Number of reviews
min                  0.600           2.7               10.0
lower_quartile       4.600           6.0               16.0
median              11.124           6.6               33.0
upper_quartile      37.200           7.1               96.0
max               3443.376           9.4             7672.0

- Data in 'Popularity' is not abnormal.
- Data in 'Review score' ranges from 2.7 to 9.4 (valid).
- Data in 'Number of reviews' is not abnormal. Values is in range 10 to 7660

=> All numeric data is exactly.

Now, all data in 'Popularity', 'Review score', 'Number of reviews' is not abnormal.

Next, calculate the number of unique values in 'Language' and 'Genre IDs'.

In [7]:
count_unique_values_Language = df['Language'].nunique()
unique_values_Language = df['Language'].unique()

print("Number of unique values in 'Language' column:", count_unique_values_Language, "\n")
print(unique_values_Language)

Number of unique values in 'Language' column: 44

['en' 'es' 'ja' 'hi' 'ko' 'sv' 'pt' 'fr' 'uk' 'ml' 'zh' 'yo' 'pl' 'de'
 'no' 'fi' 'te' 'cn' 'it' 'ar' 'da' 'is' 'tr' 'id' 'ru' 'th' 'bn' 'gl'
 'ta' 'ig' 'tl' 'nl' 'ca' 'xh' 'et' 'eu' 'kn' 'vi' 'ro' 'kl' 'fa' 'tt'
 'gu' 'bs']

I have to find out all languages by making a request to the 'languages' field in the TMDb API. After that, compare the abbreviations above to the corresponding language.

In [8]:
#Get information about field named 'languages' 
import requests
url = "https://api.themoviedb.org/3/configuration/languages"
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYzY0NTA3YmYzNTA4ZWRmYmM1NGUwNTllNDQ3YWM4ZCIsInN1YiI6IjY1OTNmOTVmMDY5ZjBlNDY0YzIxMWUxOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.tSMF0nkjf5qQLZ3Wn1zehrdJ9-BAA6m6mHkhtezvhs4"
}
language_response = requests.get(url, headers=headers)

#Create a function to get a array with exactly name for each language
fullname_language = [[] for _ in range(44)]
current_language = language_response.json()
for i in range (44):
    for each_language in current_language:
        if (unique_values_Language[i] == each_language['iso_639_1']):
            fullname_language[i].append(each_language['english_name'])
            
fullname_language = [lang[0] for lang in fullname_language]
print(fullname_language)

['English', 'Spanish', 'Japanese', 'Hindi', 'Korean', 'Swedish', 'Portuguese', 'French', 'Ukrainian', 'Malayalam', 'Mandarin', 'Yoruba', 'Polish', 'German', 'Norwegian', 'Finnish', 'Telugu', 'Cantonese', 'Italian', 'Arabic', 'Danish', 'Icelandic', 'Turkish', 'Indonesian', 'Russian', 'Thai', 'Bengali', 'Galician', 'Tamil', 'Igbo', 'Tagalog', 'Dutch', 'Catalan', 'Xhosa', 'Estonian', 'Basque', 'Kannada', 'Vietnamese', 'Romanian', 'Kalaallisut', 'Persian', 'Tatar', 'Gujarati', 'Bosnian']

With this array, I will replace data in 'Language' in dataframe.

In [9]:
replace_language = dict(zip(unique_values_Language, fullname_language))
df['Language'] = df['Language'].replace(replace_language, regex = True)
df

,Title,Original title,ID,Language,Details,Genre IDs,Popularity,Release date,Review score,Number of reviews
0,The Family Plan,The Family Plan,1029575,English,"Dan Morgan is many things: a devoted husband, ...","[28, 35]",3443.376,2023-12-14,7.4,577
1,Rebel Moon - Part One: A Child of Fire,Rebel Moon - Part One: A Child of Fire,848326,English,When a peaceful colony on the edge of the gala...,[878],2288.636,2023-12-15,6.5,1026
2,The Hunger Games: The Ballad of Songbirds & Sn...,The Hunger Games: The Ballad of Songbirds & Sn...,695721,English,64 years before he becomes the tyrannical pres...,"[18, 878, 28]",2182.886,2023-11-15,7.2,1323
3,Silent Night,Silent Night,891699,English,A tormented father witnesses his young son die...,"[28, 80]",1441.196,2023-11-30,5.9,234
4,Aquaman and the Lost Kingdom,Aquaman and the Lost Kingdom,572802,English,"Black Manta, still driven by the need to aveng...","[28, 12, 14]",1283.474,2023-12-20,6.5,379
...,...,...,...,...,...,...,...,...,...,...
1395,Write Me A Letter When You Return Home,Write Me A Letter When You Return Home,1113693,English,75-year-old Enola Niaga finds comfort in writi...,[18],1.400,2023-05-12,6.3,16
1396,Gli attassati,Gli attassati,1168807,Italian,NaN,[35],0.622,2023-08-31,5.0,11
1397,Return,Regreso,1140754,Spanish,Gerardo returns home with a pack of dogs barki...,[18],0.609,2023-07-30,4.9,13
1398,Hombres hay muchos,Hombres hay muchos,1168735,Spanish,NaN,"[35, 10749]",0.600,2023-08-01,7.0,12
1399,What a Life!,Io vivo altrove!,1070244,Italian,"Biasutti and Perbellini have the same name, Fa...",[35],0.600,2023-01-19,5.7,10

Next, I find out all genres by making a request to the 'Genre_IDs' field in the TMDb API.

In [10]:
#Get information about 'genres' field 
import requests
url = "https://api.themoviedb.org/3/genre/movie/list"
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYzY0NTA3YmYzNTA4ZWRmYmM1NGUwNTllNDQ3YWM4ZCIsInN1YiI6IjY1OTNmOTVmMDY5ZjBlNDY0YzIxMWUxOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.tSMF0nkjf5qQLZ3Wn1zehrdJ9-BAA6m6mHkhtezvhs4"
}
response = requests.get(url, headers=headers)

#Create a array to contain all genres and count the number of genres
all_genres = response.json()['genres']
Genre_ID = []
Genre_Name = []

for genres in all_genres:
    Genre_ID.append(genres['id'])
    Genre_Name.append(genres['name'])
replace_genres = dict(zip(Genre_ID, Genre_Name))
print('There are', len(replace_genres), 'genres in TMDb\n')
print(replace_genres)

There are 19 genres in TMDb

{28: 'Action', 12: 'Adventure', 16: 'Animation', 35: 'Comedy', 80: 'Crime', 99: 'Documentary', 18: 'Drama', 10751: 'Family', 14: 'Fantasy', 36: 'History', 27: 'Horror', 10402: 'Music', 9648: 'Mystery', 10749: 'Romance', 878: 'Science Fiction', 10770: 'TV Movie', 53: 'Thriller', 10752: 'War', 37: 'Western'}

'Genre IDs' has 19 unique values. I create a new column named 'Genres' by replace ID in 'Genre IDs' with genre name. Then, I drop 'Genre IDs' column.

In [11]:
df['Genre IDs'] = df['Genre IDs'].astype(str)
#Data in 'Genre IDs' is string and I want to convert to number list
def convert_string_to_numlist(string_list):
    if string_list == '':
        return string_list  # Trả về chuỗi rỗng nếu chuỗi là rỗng
    else:
        string_list = string_list.strip('[]')
        if string_list:
            numlist = [int(num) for num in string_list.split(',') if num]
            return numlist
        else:
            return []
df['Genre IDs'] = df['Genre IDs'].apply(lambda x: convert_string_to_numlist(x))
df['Genres'] = df['Genre IDs'].apply(lambda x: [replace_genres[num] for num in x if num in replace_genres])

In [12]:
df = df.drop('Genre IDs', axis = 1)
columns = ['Title',
 'Original title',
 'ID',
 'Language',
 'Details',
 'Genres',
 'Popularity',
 'Release date',
 'Review score',
 'Number of reviews']
df = df[columns]
df

,Title,Original title,ID,Language,Details,Genres,Popularity,Release date,Review score,Number of reviews
0,The Family Plan,The Family Plan,1029575,English,"Dan Morgan is many things: a devoted husband, ...","[Action, Comedy]",3443.376,2023-12-14,7.4,577
1,Rebel Moon - Part One: A Child of Fire,Rebel Moon - Part One: A Child of Fire,848326,English,When a peaceful colony on the edge of the gala...,[Science Fiction],2288.636,2023-12-15,6.5,1026
2,The Hunger Games: The Ballad of Songbirds & Sn...,The Hunger Games: The Ballad of Songbirds & Sn...,695721,English,64 years before he becomes the tyrannical pres...,"[Drama, Science Fiction, Action]",2182.886,2023-11-15,7.2,1323
3,Silent Night,Silent Night,891699,English,A tormented father witnesses his young son die...,"[Action, Crime]",1441.196,2023-11-30,5.9,234
4,Aquaman and the Lost Kingdom,Aquaman and the Lost Kingdom,572802,English,"Black Manta, still driven by the need to aveng...","[Action, Adventure, Fantasy]",1283.474,2023-12-20,6.5,379
...,...,...,...,...,...,...,...,...,...,...
1395,Write Me A Letter When You Return Home,Write Me A Letter When You Return Home,1113693,English,75-year-old Enola Niaga finds comfort in writi...,[Drama],1.400,2023-05-12,6.3,16
1396,Gli attassati,Gli attassati,1168807,Italian,NaN,[Comedy],0.622,2023-08-31,5.0,11
1397,Return,Regreso,1140754,Spanish,Gerardo returns home with a pack of dogs barki...,[Drama],0.609,2023-07-30,4.9,13
1398,Hombres hay muchos,Hombres hay muchos,1168735,Spanish,NaN,"[Comedy, Romance]",0.600,2023-08-01,7.0,12
1399,What a Life!,Io vivo altrove!,1070244,Italian,"Biasutti and Perbellini have the same name, Fa...",[Comedy],0.600,2023-01-19,5.7,10

Now, I check the data in 'Release date' is in 2023 or not.

In [13]:
check_year_2023 = df['Release date'].str.match('2023-')
print(check_year_2023.sum())

1400

All data in ''Release date' is corect.

Finally, I am setting index from 1 to 1395 and save as a new .csv file named 'movie_data_processed.csv'.

In [14]:
df = df.set_index(pd.Index(range(1, len(df)+1)))
df

,Title,Original title,ID,Language,Details,Genres,Popularity,Release date,Review score,Number of reviews
1,The Family Plan,The Family Plan,1029575,English,"Dan Morgan is many things: a devoted husband, ...","[Action, Comedy]",3443.376,2023-12-14,7.4,577
2,Rebel Moon - Part One: A Child of Fire,Rebel Moon - Part One: A Child of Fire,848326,English,When a peaceful colony on the edge of the gala...,[Science Fiction],2288.636,2023-12-15,6.5,1026
3,The Hunger Games: The Ballad of Songbirds & Sn...,The Hunger Games: The Ballad of Songbirds & Sn...,695721,English,64 years before he becomes the tyrannical pres...,"[Drama, Science Fiction, Action]",2182.886,2023-11-15,7.2,1323
4,Silent Night,Silent Night,891699,English,A tormented father witnesses his young son die...,"[Action, Crime]",1441.196,2023-11-30,5.9,234
5,Aquaman and the Lost Kingdom,Aquaman and the Lost Kingdom,572802,English,"Black Manta, still driven by the need to aveng...","[Action, Adventure, Fantasy]",1283.474,2023-12-20,6.5,379
...,...,...,...,...,...,...,...,...,...,...
1396,Write Me A Letter When You Return Home,Write Me A Letter When You Return Home,1113693,English,75-year-old Enola Niaga finds comfort in writi...,[Drama],1.400,2023-05-12,6.3,16
1397,Gli attassati,Gli attassati,1168807,Italian,NaN,[Comedy],0.622,2023-08-31,5.0,11
1398,Return,Regreso,1140754,Spanish,Gerardo returns home with a pack of dogs barki...,[Drama],0.609,2023-07-30,4.9,13
1399,Hombres hay muchos,Hombres hay muchos,1168735,Spanish,NaN,"[Comedy, Romance]",0.600,2023-08-01,7.0,12
1400,What a Life!,Io vivo altrove!,1070244,Italian,"Biasutti and Perbellini have the same name, Fa...",[Comedy],0.600,2023-01-19,5.7,10

In [15]:
df.to_csv('../data/processed_data/movie_data_processed.csv', index = False)